<!-- <p>nav works!</p> -->

<nav>
    <a href="" routerLink="parent" class="btn btn-outline-primary btn-sm me-2">Parent Component</a> 
    <a href="" routerLink="databinding" class="btn btn-outline-primary btn-sm me-2">Data Binding Component</a>
    <a href="" routerLink="mypipe/:id" class="btn btn-outline-primary btn-sm me-2">My Pipes Component</a>
    <a href="" routerLink="angform" class="btn btn-outline-primary btn-sm me-2">AngForm Component</a>
    <a href="" routerLink="items" class="btn btn-outline-primary btn-sm me-2">Items Component</a>
    <a href="" routerLink="productdash" class="btn btn-outline-primary btn-sm me-2">Product Dash Component</a>
    
    <button type="button" class="btn btn-danger logout" (click)="logOut()">Logout</button>
</nav>